<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ページが見つかりません</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>404 - ページが見つかりません</h1>
    <p>お探しのページは存在しません。</p>
    <p><a href="/login">ログインページへ戻る</a></p>
</body>
</html>
