<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página não encontrada</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>500 - Erro interno do servidor</h1>
    <p>Algo deu errado no servidor. Tente novamente mais tarde.</p>
    <p><%= message %></p>
    <p><a href="/login">Retornar à página de login</a></p>
</body>
</html>
