<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Create an account</h1>
    <% if (message.length > 0) { %>
        <p><%= message %></p>
    <% } %>
    <form action="/register" method="POST">
        <label for="nome_usuario">Nome:</label>
        <input type="text" name="nome_usuario" required>
        <label for="cpf_usuario">CPF:</label>
        <input type="text" name="cpf_usuario" required>
        <label for="email_usuario">E-mail:</label>
        <input type="email" name="email_usuario" required>
        <label for="senha">Password:</label>
        <input type="password" name="senha" required>
        <button type="submit">Register</button>
    </form>
    <p><a href="/login">Login</a></p>
</body>
</html>
